/* 
    Created on : 10 de fev. de 2025, 16:22:49
    Author     : 2DT
*/
*{
    margin: 0 auto;
    
}
header{
    background-color:#66ffff;
        width:90%;
        padding: 10px
        
}
nav{
    width: 90%;
    background-color: #33ffcc;
    padding: 10px;
    align-items: center;
    
}
iframe{
    border: 0px;
    width: 100%;
    height: 480px;
    
}
